<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="${packageName}.mapper.${className}Mapper">

    <sql id="${classNameSmall}Columns">
        SELECT
        #foreach($colum in $metas)
        ${colum.get("columnName")}#if(${metas.size()} != $foreach.count),#end
        #end
        from ${tableName}
    </sql>

    <!-- 插入单个 -->
    <insert id="insertOne" parameterType="${className}">
        INSERT INTO ${tableName}
        <trim prefix="(" suffix=")" suffixOverrides=",">#foreach($colum in $metas)#if(${colum.get("isAutoincrement").equals("NO")})
            <if test="${colum.get("columnNameCamel")} != null">${colum.get("columnName")},</if>## 主键自增不需要插入
        #end
        #end
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
        #foreach($colum in $metas)
        #if(${colum.get("isAutoincrement").equals("NO")})
            <if test="${colum.get("columnNameCamel")} != null">#{${colum.get("columnNameCamel")}},</if>
        #end
        #end
        </trim>
    </insert>

    <!-- 插入多个 -->
    <insert id="insertBatch" parameterType="list">
        INSERT INTO
            ${tableName} (
            <trim suffixOverrides=",">
            #foreach($colum in $metas)
            #if(${colum.get("isAutoincrement").equals("NO")} && !${colum.get("def").equals("CURRENT_TIMESTAMP")})
                ${colum.get("columnName")}#if(${metas.size()} != ${foreach.count}),#end
            #end#end
            </trim>
        )
        VALUES
            <foreach collection="${classNameSmall}List" item="item" separator="," >
            (
            <trim suffixOverrides=",">
                #foreach($colum in $metas)
            #if(${colum.get("isAutoincrement").equals("NO")} && !${colum.get("def").equals("CURRENT_TIMESTAMP")})
                #{item.${colum.get("columnNameCamel")}}#if(${metas.size()} != ${foreach.count}),#end
            #end#end
            </trim>
            )
            </foreach>

    </insert>
    <!--  删除  -->
    <delete id="deleteBy${fieldCamel}">
        DELETE FROM ${tableName} WHERE ${field} = #{${fieldSmallCamel}}
    </delete>

    <!-- 批量删除 -->
    <delete id="deleteBy${fieldCamel}s">
        DELETE FROM ${tableName}
        WHERE ${field} in
        <foreach collection="${fieldSmallCamel}s" item="item" separator="," nullable="false" open="(" close=")">
            #{item}
        </foreach>
    </delete>

    <!-- 查询-->
    <select id="selectBy${fieldCamel}" resultType="${className}">
        <include refid="${classNameSmall}Columns"/>
        WHERE ${field} = #{${fieldSmallCamel}}
    </select>

    <!-- 列表查询 -->
    <select id="selectList"  resultType="${className}">
        <include refid="${classNameSmall}Columns"/>
    <where>
    #foreach($column in $metas)
        <if test="${column.get("columnNameCamel")} != null">
            ${column.get("columnName")} = #{${column.get("columnNameCamel")}}
        </if>
    #end
    </where>
    </select>

    <!-- 更新 -->
    <update id="updateBy${fieldCamel}" parameterType="${className}">
        UPDATE ${tableName}
        <set>
    #foreach($column in $metas)
        #if(!${column.get("isAutoincrement").equals("YES")} && !${column.get("columnName").equals(${field})} &&
        !($column.get("columnName").equals("create_time")||$column.get("columnName").equals("createtime")))
            <if test="${column.get("columnNameCamel")} != null">${column.get("columnName")} = #{${column.get("columnNameCamel")}},</if>
        #end
    #end
        </set>
        WHERE ${field} = #{${fieldSmallCamel}}
    </update>

</mapper>