<template>
  <div class="app-container">
    <!-- 顶部搜索区 -->
    <el-form :model="queryParams" ref="queryForm" size="small" :inline="true" v-show="showSearch" label-width="68px">
    #foreach($column in $columns)
      #if($column.query)
        #set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
        #set($comment=$column.columnComment)
    #if($column.htmlType == "input")
      <el-form-item label="${comment}" prop="${column.javaField}">
        <el-input
          v-model="queryParams.${column.javaField}"
          placeholder="请输入${comment}"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
    #elseif($column.htmlType == "datetime" && $column.queryType != "EQ")
      <el-form-item label="${comment}" prop="${column.javaField}">
        <el-date-picker clearable
          v-model="queryParams.${column.javaField}"
          type="date"
          value-format="yyyy-MM-dd"
          placeholder="请选择${comment}">
        </el-date-picker>
      </el-form-item>
    #elseif($column.htmlType == "datetime" && $column.queryType == "BETWEEN")
      <el-form-item label="${comment}">
        <el-date-picker
                v-model="daterange${AttrName}"
                style="width: 240px"
                value-format="yyyy-MM-dd"
                type="daterange"
                range-separator="-"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
        ></el-date-picker>
      </el-form-item>
          #end
        #end
      #end
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>

    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button
          type="primary"
          plain
          icon="el-icon-plus"
          size="mini"
          @click="handleAdd"
          v-if="$hasPermi(['${moduleName}:${businessName}:add'])"
        >新增</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="success"
          plain
          icon="el-icon-edit"
          size="mini"
          :disabled="ids.length!=1"
          @click="handleUpdate"
          v-if="$hasPermi(['${moduleName}:${businessName}:edit'])"
        >修改</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="danger"
          plain
          icon="el-icon-delete"
          size="mini"
          :disabled="!(ids.length>0)"
          @click="handleDelete"
          v-if="$hasPermi(['${moduleName}:${businessName}:remove'])"
        >删除</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="warning"
          plain
          icon="el-icon-download"
          size="mini"
          @click="handleExport"
          v-if="$hasPermi(['${moduleName}:${businessName}:export'])"
        >导出</el-button>
      </el-col>
      <div style="float: right;">
        <el-row>
          <el-tooltip class="item" effect="dark" :content="showSearch ? '隐藏搜索' : '显示搜索'" placement="top">
            <el-button size="mini" circle icon="el-icon-search" @click="showSearch = !showSearch" />
          </el-tooltip>
          <el-tooltip class="item" effect="dark" content="刷新" placement="top">
            <el-button size="mini" circle icon="el-icon-refresh" @click="getList" />
          </el-tooltip>
        </el-row>
      </div>
    </el-row>

    <el-table :data="tableData" @selection-change="handleSelection" :header-cell-style="{ background: '#F8F8F9', color: '#000'}" style="font-size: 14px; padding-top: 10px;">
      <el-table-column type="selection" width="55" align="center" />
      #foreach($column in $columns)
        #set($javaField=$column.javaField)
        #set($comment=$column.columnComment)
        #if($column.pk)
          <el-table-column label="${comment}" align="center" prop="${javaField}" />
        #elseif($column.list && $column.htmlType == "datetime")
          <el-table-column label="${comment}" align="center" prop="${javaField}" width="180" />
##            <template slot-scope="scope">
##              <span>{{ parseTime(scope.row.${javaField}, '{y}-{m}-{d}') }}</span>
##            </template>
##          </el-table-column>
        #elseif($column.list && $column.htmlType == "imageUpload")
          <el-table-column label="${comment}" align="center" prop="${javaField}" width="100">
            <template slot-scope="scope">
              <image-preview :src="scope.row.${javaField}" :width="50" :height="50"/>
            </template>
          </el-table-column>
        #elseif($column.list && "" != $javaField)
          <el-table-column label="${comment}" align="center" prop="${javaField}" />
        #end
      #end
        <el-table-column label="操作" align="center">
          <template slot-scope="scope">
            <el-button
              size="mini"
              type="text"
              icon="el-icon-edit"
              @click="handleUpdate(scope.row)"
              v-if="$hasPermi(['${moduleName}:${businessName}:edit'])"
            >修改</el-button>
            <el-button
              size="mini"
              type="text"
              icon="el-icon-delete"
              @click="handleDelete(scope.row)"
              v-if="$hasPermi(['${moduleName}:${businessName}:remove'])"
            >删除</el-button>
          </template>
        </el-table-column>
    </el-table>

    <!-- 分页 -->
    <el-pagination
      background
      style="text-align: center; padding-top: 20px"
      @current-change="getList"
      @size-change="handleSizeChange"
      :page-size="queryParams.pageSize"
      :current-page.sync="queryParams.page"
      :page-sizes="[10, 20, 50, 100]"
      layout="total, prev, pager, next, sizes, jumper"
      hide-on-single-page
      :total="total">
    </el-pagination>

    <!-- 添加或修改${functionName}对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="500px" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
#foreach($column in $columns)
  #set($field=$column.javaField)
  #if($column.insert && !$column.pk)
      #set($comment=$column.columnComment)
      #if($column.htmlType == "input")
        <el-form-item label="${comment}" prop="${field}">
          <el-input v-model="form.${field}" placeholder="请输入${comment}" />
        </el-form-item>
      #elseif($column.htmlType == "imageUpload")
        <el-form-item label="${comment}" prop="${field}">
          <image-upload v-model="form.${field}"/>
        </el-form-item>
      #elseif($column.htmlType == "fileUpload")
        <el-form-item label="${comment}" prop="${field}">
          <file-upload v-model="form.${field}"/>
        </el-form-item>
      #elseif($column.htmlType == "editor")
        <el-form-item label="${comment}">
          <editor v-model="form.${field}" :min-height="192"/>
        </el-form-item>
      #elseif($column.htmlType == "datetime")
        <el-form-item label="${comment}" prop="${field}">
          <el-date-picker clearable
            v-model="form.${field}"
            type="date"
            value-format="yyyy-MM-dd"
            placeholder="请选择${comment}">
          </el-date-picker>
        </el-form-item>
      #elseif($column.htmlType == "textarea")
        <el-form-item label="${comment}" prop="${field}">
          <el-input v-model="form.${field}" type="textarea" placeholder="请输入内容" />
        </el-form-item>
      #end
    #end
  #end
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
  import {del${BusinessName}, get${BusinessName}, list${BusinessName}} from "@/api/";
  export default {
    name: "${BusinessName}",
    data() {
      return {
        // 数据
        tableData: [],
        // 选中数组
        ids: [],
        // 数据总数
        total: 0,
        // 新增表单
        form: {},
        // 弹出层标题
        title: "",
        // 是否显示弹出层
        open: false,
        showSearch: true,
    #foreach ($column in $columns)
      #if($column.htmlType == "datetime" && $column.queryType == "BETWEEN")
        #set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
        // $comment时间范围
        daterange${AttrName}: [],
      #end
    #end
        // 查询参数
        queryParams: {
          page: 1,
          pageSize: 10,
    #foreach ($column in $columns)
      #if($column.query)
          $column.javaField: null#if($foreach.count != $columns.size()),#end
      #end
    #end
        },
        // 表单校验
        rules: {
    #foreach ($column in $columns)
      #if($column.required && $column.edit && $column.insert)
          #set($comment=$column.columnComment)
          $column.javaField: [
            { required: true, message: "$comment不能为空", trigger: #if($column.htmlType == "select" || $column.htmlType == "radio")"change"#else"blur"#end }
          ]#if($foreach.count != $columns.size()),#end
      #end
    #end
        }
      }
    },
    created() {
      this.getList();
    },
    methods: {
      /** 获取数据 */
      getList() {
    #foreach ($column in $columns)
      #if($column.htmlType == "datetime" && $column.queryType == "BETWEEN")
        this.queryParams.params = {};
        #break
      #end
    #end
    #foreach ($column in $columns)
      #if($column.htmlType == "datetime" && $column.queryType == "BETWEEN")
        #set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
        if (null != this.daterange${AttrName} && '' != this.daterange${AttrName}) {
          this.queryParams.params["begin${AttrName}"] = this.daterange${AttrName}[0];
          this.queryParams.params["end${AttrName}"] = this.daterange${AttrName}[1];
        }
      #end
    #end
        list${BusinessName}(this.queryParams).then((res)=>{
          this.tableData = res.data.data.record
          this.total = res.data.total
        })
      },
      /** 搜索按钮操作 */
      handleQuery() {
        this.queryParams.page = 1;
        this.getList();
      },
      // 表单重置
      reset() {
        this.form = {
    #foreach ($column in $columns)
      #if($column.htmlType == "checkbox")
          $column.javaField: []#if($foreach.count != $columns.size()),#end
      #else
          $column.javaField: null#if($foreach.count != $columns.size()),#end
      #end
    #end
        };
        this.resetForm("form");
      },
      // 取消按钮
      cancel() {
        this.open = false;
        this.reset();
      },
      /** 重置按钮操作 */
      resetQuery() {
      #foreach ($column in $columns)
        #if($column.htmlType == "datetime" && $column.queryType == "BETWEEN")
          #set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
          this.daterange${AttrName} = [];
        #end
      #end
        this.resetForm("queryForm");
        this.handleQuery();
      },
      // 多选框选中数据
      handleSelection(selection) {
        this.ids = selection.map(item => item.${pkColumn.javaField})
      },
      // 分页控件选择页数时触发
      handleSizeChange(pageSize) {
        this.queryParams.pageSize = pageSize;
        this.getList()
      },
      /** 新增按钮操作 */
      handleAdd() {
        this.reset();
        this.open = true;
        this.title = "添加${functionName}";
      },
      /** 修改按钮操作 */
      handleUpdate(row) {
        this.reset();
        const ${pkColumn.javaField} = row.${pkColumn.javaField} || this.ids
        get${BusinessName}(${pkColumn.javaField}).then(response => {
          this.form = response.data.data;
          #foreach ($column in $columns)
            #if($column.htmlType == "checkbox")
              this.form.$column.javaField = this.form.${column.javaField}.split(",");
            #end
          #end
          this.open = true;
          this.title = "修改${functionName}";
        });
      },
      /** 删除按钮操作 */
      handleDelete(row) {
        const ${pkColumn.javaField}s = row.${pkColumn.javaField} || this.ids;
        this.$confirm('是否确认删除${functionName}编号为"' + ${pkColumn.javaField}s + '"的数据项？', "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning",
        }).then(() => {
          del${BusinessName}(${pkColumn.javaField}s).then(()=>{
            this.getList();
            this.#[[$message]]#.success("删除成功");
          })
        }).catch(() => {});
      },
      /** 提交按钮 */
      submitForm() {
        this.#[[$]]#refs["form"].validate(valid => {
          if (valid) {
            #foreach ($column in $columns)
            #if($column.htmlType == "checkbox")
            this.form.$column.javaField = this.form.${column.javaField}.join(",");
            #end
            #end
            if (this.form.${pkColumn.javaField} != null) {
              update${BusinessName}(this.form).then(response => {
                this.#[[$message]]#.success("修改成功");
                this.open = false;
                this.getList();
              });
            } else {
              add${BusinessName}(this.form).then(response => {
                this.#[[$message]]#.success("新增成功");
                this.open = false;
                this.getList();
              });
            }
          } else {
            #[[this.$message.error("表单校验未通过，请重新检查提交内容")]]#
          }
        });
      },
      /** 导出按钮操作 */
      handleExport() {
        // this.download('${moduleName}/${businessName}/export', {
        //     ...this.queryParams
        //   }, `${businessName}_#[[${new Date().getTime()}]]#.xlsx`)
        // }
      },
      /** 用于重置表单 */
      resetForm(refName) {
      #[[if (this.$refs[refName]) {
          this.$refs[refName].resetFields();
        }]]#
      }
    }
  }
</script>
<style scoped>

</style>
