package ${packageName}.controller;

import ${packageName}.vo.Pages;
import ${packageName}.vo.Result;
import ${packageName}.entity.${className};
import ${packageName}.service.${className}Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;

import java.util.List;

@RestController
@RequestMapping("${url}")
public class ${className}Controller {

    private ${className}Service ${classNameSmall}Service;

    @Autowired
    public ${className}Controller(${className}Service ${classNameSmall}Service) {
        this.${classNameSmall}Service = ${classNameSmall}Service;
    }

    /**
     * 新增
     */
    @PostMapping
    Result<String> save(@RequestBody ${className} ${classNameSmall}) {
        ${classNameSmall}Service.saveOne(${classNameSmall});
        return Result.success("添加成功");
    }

    /**
     * 修改
     */
    @PutMapping
    Result<String> update(@RequestBody ${className} ${classNameSmall}) {
        ${classNameSmall}Service.update${className}By${fieldCamel}(${classNameSmall});
        return Result.success("更新成功");
    }

    /**
     * 查询
     */
    @GetMapping("/list")
    Result<List<${className}>> list(${className} ${classNameSmall}) {
#if(${isPage})
        List<${className}> list = ${classNameSmall}Service.getList(${classNameSmall});
        return Result.success(Pages.createPage(list));
#else
        return Result.success(${classNameSmall}Service.getList(${classNameSmall}));
#end
    }

    /**
     * 删除
     */
    @DeleteMapping("/{${fieldSmallCamel}s}")
    Result<String> remove(@PathVariable List<${type}> ${fieldSmallCamel}s) {
        ${classNameSmall}Service.removeBy${fieldCamel}s(${fieldSmallCamel}s);
        return Result.success("删除成功");
    }
}
