<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="${packageName}.mapper.${ClassName}Mapper">

    <resultMap type="${ClassName}" id="${ClassName}Result">
        #foreach ($column in $columns)
            <result property="${column.javaField}"  column="${column.columnName}"/>
        #end
    </resultMap>

    <sql id="${className}Columns">
        SELECT
        #foreach($colum in $columns)
        ${colum.columnName}#if(${columns.size()} != $foreach.count),#end
        #end
        FROM ${tableName}
    </sql>

    <!-- 插入单个 -->
    <insert id="insert${ClassName}" parameterType="${ClassName}"#if($pkColumn.increment) useGeneratedKeys="true" keyProperty="$pkColumn.javaField"#end>
        INSERT INTO ${tableName}
        <trim prefix="(" suffix=")" suffixOverrides=",">
        #foreach($column in $columns)
            #if($column.columnName != $pkColumn.columnName || !$pkColumn.increment)
            <if test="$column.javaField != null#if($column.javaType == 'String' && $column.isRequired) and $column.javaField != ''#end">$column.columnName,</if>
            #end
        #end
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        #foreach($column in $columns)
            #if($column.columnName != $pkColumn.columnName || !$pkColumn.increment)
            <if test="$column.javaField != null#if($column.javaType == 'String' && $column.isRequired) and $column.javaField != ''#end">#{$column.javaField},</if>
            #end
        #end
        </trim>
    </insert>

    <!-- 插入多个 -->
    <insert id="insert${ClassName}s" parameterType="${ClassName}">
        INSERT INTO ${tableName}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #foreach($colum in $columns)
            #if($colum.columnName != $pkColumn.columnName || !$pkColumn.increment)
            ${colum.columnName}#if(${colums.size()} != ${foreach.count}),#end
            #end#end
        </trim>
        VALUES
        <foreach collection="${className}List" item="item" separator="," open="(" close=")">
            #foreach($colum in $columns)
            #if($column.columnName != $pkColumn.columnName || !$pkColumn.increment)
            #{item.${colum.javaField}}#if(${columns.size()} != ${foreach.count}),#end
            #end#end
        </foreach>
    </insert>

    <!-- 查询-->
    <select id="selectBy${pkColumn.getFieldFirstUpper()}" resultMap="${ClassName}Result">
        <include refid="${className}Columns"/> WHERE ${pkColumn.columnName} = #{${pkColumn.javaField}}
    </select>

    <!-- 列表查询 -->
    <select id="select${ClassName}List" resultType="${className}" resultMap="${ClassName}Result">
        <include refid="${className}Columns"/>
        <where>
#foreach($column in $columns)
#set($queryType=$column.queryType)
#set($javaField=$column.javaField)
#set($javaType=$column.javaType)
#set($columnName=$column.columnName)
#set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
#if($column.query)
#if($column.queryType == "EQ")
            <if test="$javaField != null #if($javaType == 'String' ) and $javaField.trim() != ''#end"> and $columnName = #{$javaField}</if>
#elseif($queryType == "NE")
            <if test="$javaField != null #if($javaType == 'String' ) and $javaField.trim() != ''#end"> and $columnName != #{$javaField}</if>
#elseif($queryType == "GT")
            <if test="$javaField != null #if($javaType == 'String' ) and $javaField.trim() != ''#end"> and $columnName &gt; #{$javaField}</if>
#elseif($queryType == "GTE")
            <if test="$javaField != null #if($javaType == 'String' ) and $javaField.trim() != ''#end"> and $columnName &gt;= #{$javaField}</if>
#elseif($queryType == "LT")
            <if test="$javaField != null #if($javaType == 'String' ) and $javaField.trim() != ''#end"> and $columnName &lt; #{$javaField}</if>
#elseif($queryType == "LTE")
            <if test="$javaField != null #if($javaType == 'String' ) and $javaField.trim() != ''#end"> and $columnName &lt;= #{$javaField}</if>
#elseif($queryType == "LIKE")
            <if test="$javaField != null #if($javaType == 'String' ) and $javaField.trim() != ''#end"> and $columnName like concat('%', #{$javaField}, '%')</if>
#elseif($queryType == "BETWEEN")
            <if test="params.begin$AttrName != null and params.begin$AttrName != '' and params.end$AttrName != null and params.end$AttrName != ''"> and $columnName between #{params.begin$AttrName} and #{params.end$AttrName}</if>
#end
#end
#end
        </where>
    </select>

    <!-- 更新 -->
    <update id="updateBy${pkColumn.getFieldFirstUpper()}" parameterType="${ClassName}">
        UPDATE ${tableName}
        <trim prefix="SET" suffixOverrides=",">
        #foreach($column in $columns)
        #if($column.columnName != $pkColumn.columnName)
            <if test="$column.javaField != null#if($column.javaType == 'String' && $column.required) and $column.javaField != ''#end">$column.columnName = #{$column.javaField},</if>
        #end
        #end
        </trim>
        where ${pkColumn.columnName} = #{${pkColumn.javaField}}
    </update>

    <!--  删除  -->
    <delete id="deleteBy${pkColumn.getFieldFirstUpper()}" parameterType="${pkColumn.javaType}">
        DELETE FROM ${tableName} WHERE ${pkColumn.columnName} = #{${pkColumn.javaField}}
    </delete>

    <!-- 批量删除 -->
    <delete id="deleteBy${pkColumn.getFieldFirstUpper()}s" parameterType="${pkColumn.javaType}">
        DELETE FROM ${tableName} WHERE ${pkColumn.javaField} IN
        <foreach collection="${pkColumn.javaField}s" item="item" separator="," nullable="false" open="(" close=")">
            #{item}
        </foreach>
    </delete>

</mapper>