import request from "@/utils/request";


// 查询${functionName}列表
export function list${BusinessName}(query) {
    return request({
        url: '/${moduleName}/${businessName}/list',
        method: 'get',
        isToken:true,
        params: query
    })
}

// 查询${functionName}详细
export function get${BusinessName}(${pkColumn.javaField}) {
    return request({
        url: '/${moduleName}/${businessName}/' + ${pkColumn.javaField},
        method: 'get',
        isToken:true
    })
}

// 新增${functionName}
export function add${BusinessName}(data) {
    return request({
        url: '/${moduleName}/${businessName}',
        method: 'post',
        isToken:true,
        data: data
    })
}

// 修改${functionName}
export function update${BusinessName}(data) {
    return request({
        url: '/${moduleName}/${businessName}',
        method: 'put',
        isToken:true,
        data: data
    })
}

// 删除${functionName}
export function del${BusinessName}(${pkColumn.javaField}) {
    return request({
        url: '/${moduleName}/${businessName}/' + ${pkColumn.javaField},
        method: 'delete',
        isToken:true
    })
}
