package ${packageName}.entity;

import org.apache.commons.lang3.builder.ToStringBuilder;
import org.apache.commons.lang3.builder.ToStringStyle;
#set($vdateTime="NO")
#set($vdate="NO")
#set($vtime="NO")
#set($vtimestamp="NO")
#foreach($meta in $columns)
#set($typeName=${meta.javaType})
#if(${typeName.equals("LocalDateTime")})
#set($vdateTime="YES")
#elseif(${typeName.equals("LocalDate")})
#set($vdate="YES")
#elseif(${typeName.equals("LocalTime")})
#set($vtime="YES")
#elseif(${typeName.equals("Timestamp")})
#set($vtimestamp="YES")
#end
#end
#if($vdateTime.equals("YES"))
#end
#if($vdate.equals("YES"))
#end
#if($vtime.equals("YES"))
#end
#if($vtimestamp.equals("YES"))
#end
#if($vdateTime.equals("YES") || $vdate.equals("YES"))
import com.fasterxml.jackson.annotation.JsonFormat;
#end

public class ${ClassName} extends BaseEntity {

    private static final long serialVersionUID = 1L;

    #foreach($meta in $columns)
    /* ${meta.columnComment} */
    #if(${meta.javaType.equals("LocalDateTime")})
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss")
    #elseif(${meta.javaType.equals("LocalDate")})
    @JsonFormat(pattern = "yyyy-MM-dd")
    #end
    private ${meta.javaType} ${meta.javaField};
    #end

    #foreach($column in $columns)
    public ${column.javaType} get${column.getFieldFirstUpper()}() {
        return ${column.javaField};
    }

    public void set${column.getFieldFirstUpper()}(${column.javaType} ${column.javaField}) {
        this.${column.javaField} = ${column.javaField};
    }
    #end

    @Override
    public String toString() {
        return new ToStringBuilder(this,ToStringStyle.MULTI_LINE_STYLE)
#foreach ($column in $columns)
#if($column.javaField.length() > 2 && $column.javaField.substring(1,2).matches("[A-Z]"))
#set($AttrName=$column.javaField)
#else
#set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
#end
            .append("${column.javaField}", get${AttrName}())
#end
            .toString();
        }
}
