package ${packageName}.mapper;

import ${packageName}.entity.${ClassName};
import org.apache.ibatis.annotations.Mapper;
import java.util.List;

@Mapper
public interface ${ClassName}Mapper {

    int insert${ClassName}s(List<${ClassName}> ${className}List);

    int insert${ClassName}(${ClassName} ${className});

    int deleteBy${pkColumn.getFieldFirstUpper()}(${pkColumn.javaType} ${pkColumn.javaField});

    int deleteBy${pkColumn.getFieldFirstUpper()}s(List<${pkColumn.javaType}> ${pkColumn.javaField}s);

    ${ClassName} selectBy${pkColumn.getFieldFirstUpper()}(${pkColumn.javaType} ${pkColumn.javaField});

    List<${ClassName}> select${ClassName}List(${ClassName} ${className});

    int updateBy${pkColumn.getFieldFirstUpper()}(${ClassName} ${className});
}
